.artist_container {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  //background-color: rgba($color: black, $alpha: 1);
  background-image: linear-gradient(black, black);
}

.progress {
  margin-top: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  h3 {
    margin: 6px 0;
  }

  input {
    width: 260px;
    height: 30px;
    &:focus {
      outline-width: 0;
    }
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    box-sizing: border-box;
  }

  progress {
    height: 30px;
    min-width: 100%;
    max-width: 100%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
  }

  progress::-webkit-progress-value {
    background: #1dd760;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  progress::-webkit-progress-bar {
    background: white;
    border-radius: 15px;
  }
}

@keyframes modalanimation {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.modal {
  position: absolute;
  top: 0;
  background-color: black;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-top: 60px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  animation: modalanimation 200ms linear;
  z-index: 10;
  h2 {
    max-width: 768px;
  }
  button {
    background-color: #1dd760;
    cursor: pointer;
    position: absolute;
    color: white;
    top: 15px;
    left: 15px;
    min-height: 50px;
    padding: 0 20px;
    color: white;
    border: none;
    border-radius: 25px;
    &:focus {
      outline-width: 0;
    }
  }
}

.swipe_container_large_artists {
  display: none;
}
.swipe_container {
  width: 100%;
}

@media only screen and (min-width: 1160px) {
  .swipe_container {
    height: 100%;
    width: 100%;
    display: none;
  }
  .swipe_container_large_artists {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}

.copy_button {
  position: relative;
  width: 55px;
  height: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #1dd760;
  cursor: pointer;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 15px;
  margin-left: 5px;
  img {
    height: 100%;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.copied {
  margin-top: 10px;
  width: 160px;
  height: 30px;
  justify-content: center;
  background: gray;
  border-radius: 15px;
  color: white;
  animation: fade 2s linear;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1260px) {
  .swipe_container {
    height: 100%;
    width: 100%;
    display: none;
  }
  .swipe_container_large_artists {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1060px;
  }
}
