.login-logo {
  height: 120px;
  width: 120px;
  margin-bottom: 20px;
}

.signin-with-images-container {
  img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    &:hover {
      filter: brightness(0.7);
    }
  }
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: black;
  z-index: 100;
}
.login-button {
  margin-top: 10px;
  color: rgba(29, 215, 96, 1);
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  height: 50px;
  width: 240px;
  &:focus {
    outline: none;
  }
  &:hover {
    filter: brightness(0.7);
  }
  cursor: pointer;
}
.form-input {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 30px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    flex: 1;
    height: 90%;
    &::placeholder {
      color: white;
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }
  }
}

@keyframes rotatelogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app_transition {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    animation: rotatelogo 10000ms infinite linear;
    height: 120px;
    width: 120px;
  }
}
