.menu_item {
  display: flex;
  font-size: 30px;
  align-items: center;
  cursor: pointer;
  .title {
    margin: 0;
    padding: 2px;
  }
  .sidebar_icon {
    height: 36px;
    width: 36px;
    margin-right: 20px;
  }
}
