.contact_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 750px;
}

.form_element {
  padding: 10px;
  flex: 1;
}

.form_element_wide {
  padding: 10px;
}

.form_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
