$black: #000000;
$white: #ffffff;
$medium-gray: #171717;
$light-gray: #8e8e8e;
$green: #1cdb58;
$darker-green: #16ac46;
$red: red;
.form-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-or {
  font-size: 1rem;
  padding: 0.625rem 0;
  color: $light-gray;
  font-family: "Muli ExtraLight", sans-serif;
  display: flex;
  justify-content: center;
}
.form-label {
  color: $white;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.625rem;
  font-family: "Muli Regular", sans-serif;
  transition-duration: 400ms;
  transition-timing-function: ease;
}
.form-label-focus {
  color: $green;
}
.form-label-error {
  color: $red;
}
.form-label-inline {
  color: $white;
  opacity: 0.6;
  font-size: 1rem;
  padding-bottom: 0.625rem;
  font-family: "Muli Regular", sans-serif;
  display: inline-block;
}
.form-input:focus {
  outline: none;
  box-shadow: 0px 0.2em $green;
  margin-bottom: calc(0.625rem + 0.2em);
  transform: scale(1.025);
}
.form-input-error:focus {
  outline: none;
  box-shadow: 0px 0.2em $red;
  margin-bottom: calc(0.625rem + 0.2em);
  transform: scale(1.025);
}

.form-button {
  margin-top: 20px;
  max-width: 300px;
  color: $white;
  background-color: $green;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  height: 50px;
  width: 100%;
  &:focus {
    outline: none;
  }
  &:hover {
    filter: brightness(0.7);
  }
  cursor: pointer;
}

.form-button-contact {
  margin-top: 20px;
  width: 100%;
  color: $white;
  background-color: $green;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  height: 50px;
  width: 100%;
  &:focus {
    outline: none;
  }
  &:hover {
    filter: brightness(0.7);
  }
  cursor: pointer;
}
.form-input {
  font-size: 1.4rem;
  padding: 0.625rem;
  min-width: 300px;
  max-width: 300px;
  border-radius: 8px;
  background-color: $black;
  border: 1px solid $green;
  color: $white;
  z-index: 1;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.form-input-contact {
  font-size: 1.4rem;
  padding: 0.625rem;
  min-width: 300px;
  width: 100%;
  border-radius: 8px;
  background-color: $black;
  border: 1px solid $green;
  color: $white;
  z-index: 1;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.form-input-contact:focus {
  outline: none;
  box-shadow: 0px 0.2em $green;
  margin-bottom: calc(0.625rem + 0.2em);
  transform: scale(1.025);
}
.form-input-contact-error:focus {
  outline: none;
  box-shadow: 0px 0.2em $red;
  margin-bottom: calc(0.625rem + 0.2em);
  transform: scale(1.025);
}

.form-input-error {
  border: 1px solid $red;
  color: $red;
}

.form-input-contact-error {
  border: 1px solid $red;
  color: $red;
}
