@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import "../components/artist-card.scss";
@import "./hamburgers.css";
@import "../node_modules/swiper/swiper.scss";
@import "../node_modules/swiper/components/navigation/navigation.scss";
@import "../node_modules/swiper/components/pagination/pagination.scss";
@import "./accordion.scss";
@import "./form.scss";

* {
  box-sizing: border-box;
}

:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

.swiper-pagination-bullet {
  color: white;
  background-color: white;
  background: white;
  opacity: 0.8;
}
.swiper-pagination-bullet-active {
  color: green;
  background-color: green;
  background: green;
}

////////
body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;

  background-color: black;

  color: white;
  height: 100vh;
}

#__next {
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 200px;
  overflow: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

.login-logo {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.signin-with-images-container {
  img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    &:hover {
      filter: brightness(0.7);
    }
  }
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 60px;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: black;
}

.home-icon {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  img {
    height: 100%;
    width: 100%;
  }
}
.login-button {
  margin: 10px 0;
  color: rgba(29, 215, 96, 1);
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  min-height: 50px !important;
  width: 240px;
  &:focus {
    outline: none;
  }
  &:hover {
    filter: brightness(0.7);
  }
  cursor: pointer;
}
.form-input {
  /*&:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }*/
}

.artist-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  //background-color: rgba($color: black, $alpha: 1);
  background-image: linear-gradient(black, black);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

@keyframes rotatelogo {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes artistappear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bringinartist {
  from {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    position: relative;
    transform: none;
    top: 0;
    opacity: 1;
  }
}

.rotate-logo {
  animation: rotatelogo 10000ms infinite linear;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
}
.swipe-container-large-artists {
  display: none;
}
.swipe-container {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #1dd760;
}

@media only screen and (max-width: 767px) {
  #__next {
    padding-top: 54px;
    padding-left: 0;
  }
}

@media only screen and (min-width: 1160px) {
  .swipe-container {
    height: 100%;
    width: 100%;
    display: none;
  }
  .swipe-container-large-artists {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1dd760;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1dd760;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
