@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../components/artist-card.scss";
@import "./hamburgers.css";
@import "../node_modules/swiper/swiper.scss";
@import "../node_modules/swiper/components/navigation/navigation.scss";
@import "../node_modules/swiper/components/pagination/pagination.scss";
@import "./accordion.scss";

.swiper-pagination-bullet {
  color: white;
  background-color: white;
  background: white;
  opacity: 0.8;
}
.swiper-pagination-bullet-active {
  color: green;
  background-color: green;
  background: green;
}

////////
body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;

  color: white;
  height: 100vh;
}

#__next {
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 200px;
  overflow: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

.login-logo {
  height: 120px;
  width: 120px;
  margin-bottom: 20px;
}

.signin-with-images-container {
  img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    &:hover {
      filter: brightness(0.7);
    }
  }
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.login-button {
  margin-top: 10px;
  color: rgba(29, 215, 96, 1);
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  height: 50px;
  width: 240px;
  &:focus {
    outline: none;
  }
  &:hover {
    filter: brightness(0.7);
  }
  cursor: pointer;
}
.form-input {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 30px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;

  input {
    background-color: rgba(0, 0, 0, 0);
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
      -webkit-transition-delay: 9999s;
    }
    border: none;
    color: white;
    flex: 1;
    height: 90%;
    &::placeholder {
      color: white;
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }
  }
}

.artist-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  //background-color: rgba($color: black, $alpha: 1);
  background-image: linear-gradient(black, black);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

@keyframes rotatelogo {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes artistappear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bringinartist {
  from {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    position: relative;
    transform: none;
    top: 0;
    opacity: 1;
  }
}

.artist-appear {
  //animation: artistappear 1000ms ease-in;
  animation: bringinartist 1000ms linear forwards;
  max-width: 310px;
  height: 545px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.rotate-logo {
  animation: rotatelogo 10000ms infinite linear;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
}

@media only screen and (max-width: 767px) {
  #__next {
    padding-top: 54px;
    padding-left: 0;
  }
}
