.home_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 5%;
  box-sizing: border-box;
  position: relative;
}

.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 35px;
    width: 35px;
    display: block;
    animation: bounce 1s infinite;
    margin-bottom: 5px;
  }
  button {
    cursor: pointer;
    margin: 5px 0;
    margin-bottom: 5px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background-color: #1dd760;
    font-size: 1rem;
    color: white;
    &:focus {
      outline-width: 0;
    }
  }
  padding: 5px 0;
}

.infographic_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block {
  animation: landinganimation 700ms linear;
  &:last-of-type {
    animation: landinganimationreverse 700ms linear;
    padding: 0;
  }

  margin: 0 auto;
  padding: 0 5px;
  max-width: 300px;
  box-sizing: border-box;
  width: 300px;
  h3 {
    &:nth-of-type(2n-1) {
      color: #1dd760;
    }
  }
}

.infographic_image {
  height: 300px;
  width: 300px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  display: block;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.login_button_container {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
  p {
    font-size: 12px;
    margin-right: 5px;
  }
  button {
    cursor: pointer;
    margin: 5px 0;
    margin-bottom: 5px;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    background-color: #1dd760;
    font-size: 12px;
    color: white;
    &:focus {
      outline-width: 0;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1200px) {
  .infographic_container {
    width: 1000px;
  }
}

@keyframes landinganimation {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes landinganimationreverse {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
  }
}
