$black: #000000;
$white: #ffffff;
$medium-gray: #171717;
$light-gray: #8e8e8e;
$green: #1cdb58;
$darker-green: #16ac46;
$red: red;
@keyframes rotatelogo {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.register_button_container {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
  p {
    font-size: 12px;
    margin-right: 5px;
  }
  button {
    cursor: pointer;
    margin: 5px 0;
    margin-bottom: 5px;
    height: 30px;
    width: 70px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    background-color: #1dd760;
    font-size: 12px;
    color: white;
    &:focus {
      outline-width: 0;
    }
  }
}

.form-or {
  font-size: 1rem;
  padding: 0.625rem 0;
  color: $light-gray;
  font-family: "Muli ExtraLight", sans-serif;
  display: flex;
  justify-content: center;
}
.form-label {
  color: $white;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.625rem;
  font-family: "Muli Regular", sans-serif;
  transition-duration: 400ms;
  transition-timing-function: ease;
}
.form-label-focus {
  color: $green;
}
.form-label-error {
  color: $red;
}
.form-label-inline {
  color: $white;
  opacity: 0.6;
  font-size: 1rem;
  padding-bottom: 0.625rem;
  font-family: "Muli Regular", sans-serif;
  display: inline-block;
}
.form-input:focus {
  outline: none;
  box-shadow: 0px 0.2em $green;
  margin-bottom: calc(0.625rem + 0.2em);
  transform: scale(1.025);
}
.form-input-error:focus {
  outline: none;
  box-shadow: 0px 0.2em $red;
  margin-bottom: calc(0.625rem + 0.2em);
  transform: scale(1.025);
}
.form-input {
  font-size: 1.4rem;
  padding: 0.625rem;

  border-radius: 8px;
  background-color: $black;
  border: 1px solid $green;
  color: $white;
  z-index: 1;
  transition-duration: 400ms;
  transition-timing-function: ease;
}
.form-input-error {
  border: 1px solid $red;
  color: $red;
}

.email_sent {
  max-width: 300px;
  font-size: 12px;
  color: #1dd760;
}

.email_sent_error {
  max-width: 300px;
  font-size: 12px;
  color: red;
}

.form_element {
  margin: 5px 0;
  p {
    font-size: 10px;
  }
}

.app_transition {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  height: 100%;
  width: 100%;
  background-color: black;

  img {
    animation: rotatelogo 10000ms infinite linear;
  }
}
