@keyframes rotatelogo {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.register_button_container {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
  p {
    font-size: 12px;
    margin-right: 5px;
  }
  button {
    cursor: pointer;
    margin: 5px 0;
    margin-bottom: 5px;
    height: 30px;
    width: 70px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    background-color: #1dd760;
    font-size: 12px;
    color: white;
    &:focus {
      outline-width: 0;
    }
  }
}

.app_transition {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  height: 100%;
  width: 100%;
  background-color: black;

  img {
    animation: rotatelogo 10000ms infinite linear;
  }
}
