.portfolio_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.slices_container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.progress {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  progress {
    height: 30px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
  }

  progress::-webkit-progress-value {
    background: #1dd760;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  progress::-webkit-progress-bar {
    background: white;
    border-radius: 5px;
  }
}
