.form_group_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #1dd760;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
  p {
    font-size: 12px;
  }
}

.form_group_wrapper {
}

.login_button_container {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
  p {
    font-size: 12px;
    margin-right: 5px;
  }
  button {
    cursor: pointer;
    margin: 5px 0;
    margin-bottom: 5px;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    background-color: #1dd760;
    font-size: 12px;
    color: white;
    &:focus {
      outline-width: 0;
    }
  }
}

.login_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 100;
}
.login_button {
  margin-top: 10px;
  color: rgba(29, 215, 96, 1);
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  height: 50px;
  width: 240px;
  &:focus {
    outline: none;
  }
  &:hover {
    filter: brightness(0.7);
  }
  cursor: pointer;
}
.form_input {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  padding-left: 10px;
  padding-right: 30px;
  display: flex;
  align-items: center;

  input {
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px !important;
    &:-webkit-autofill::first-line {
      font-size: 16px;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
      -webkit-transition-delay: 9999s;
    }
    border: none;
    color: white;
    flex: 1;
    height: 90%;
    &::placeholder {
      color: white;
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }
  }
}

.form_element {
  margin-bottom: 10px;
  p {
    font-size: 10px;
    max-width: 240px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 0;
    &:first-of-type {
      color: white;
    }
    color: red;
    padding-left: 20px;
  }
}
